$color-blue: #3c3cd1;
$color-blue-ligth: #3c3cd16d;
$color-grey: #eee;
$color-grey-l: #e6e5e5;
$color-grey-xl: #cecece;

@mixin flex () {
    display: flex;
    align-items: center;
    justify-content: center;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 16px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: $color-grey;
    scroll-behavior: smooth;
    @media (max-width: 1024px) {
        font-size: 14px; 
    }
}
a {
    text-decoration: none;
    color: black;
}
li {
    list-style: none;
}

.wrapper {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 80px;
    @media (max-width: 1024px) {
        padding: 0 60px;
    }
    @media (max-width: 767px) {
        padding: 0 40px;
    }
}
.wraper-dark {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.541);
    cursor: pointer;
    display: none;  
}
.wraper-dark_open {
    @media (max-width: 768px) {
        display: block;
    }
}
.link {
    font-size: 1.5rem;
    transition: all 0.2s linear;
    &::after {
        content: '';
        width: 100%;
        height: 1.5px;
        margin-top: 5px;
    }
    &:hover {
        transform: scale(110%);
        &::after {
            background-color: $color-blue;
        } 
    }
    @media (max-width: 768px) {
        font-size: 1.8rem;
    }
}
.title {
    position: relative;
    padding-bottom: 50px;
    font-size: 2.5rem;
    font-weight: 500;
    text-align: center;
    letter-spacing: 0.1rem;
    @media (max-width: 768px) {
        padding-bottom: 30px;
    }
}
.section {
    padding: 50px 0;
    border-bottom: 2px solid $color-blue;
    @media (max-width: 768px) {
        padding: 30px 0;
    }
}
.button {
    width: 200px;
    height: 50px;
    @include flex();
    font-size: 1.3rem;
    color: $color-blue;
    border: 2px solid $color-blue;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s linear;
    &:hover {
        transform: translate(5px, 5px);
        box-shadow: -5px -5px 5px $color-blue;
    }
}
@media (max-width: 768px) {
    body.hidden {
      overflow: hidden;
    }
}
.header {
    height: 90px;
    @include flex();
    justify-content: flex-end;
    border-bottom: 2px solid $color-blue;
    .nav {
        transition: all 0.5s linear;
        &__list {
            @include flex();
            justify-content: space-between;
            gap: 20px;
        }
        @media (max-width: 768px) {
            width: 80vw;
            height: 100vh;
            position: fixed;
            top: 0;
            right: -80vw;
            z-index: 2;
            background-color: $color-grey;
            @include flex();
            &_open {
                right: 0;
            }
            &__list {
                flex-direction: column;
                align-items: center;
                gap: 30px;
            }
        }
    }
    
    .hamburger {
        display: none;
        width: 50px;
        height: 50px;
        cursor: pointer;
        transition: all 0.5s linear;
        &:hover .hamburger__item {
            box-shadow: 0 0 5px $color-blue;;
        }
        &__item {
            width: 50px;
            height: 3px;
            background-color: $color-blue;
        }
        @media (max-width: 768px) {
            @include flex();
            flex-direction: column;
            justify-content: space-around;
            position: relative;
            z-index: 2;
            &_open {
                transform: rotate(90deg);
            }
        }
    }
}
.summary {
    @include flex();
    gap: 5%;
    @media (max-width: 1024px) {
        gap: 30px;
    }
    @media (max-width: 768px) {
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 20px;
    }
    &__img {
        border-radius: 10px;
        @media (max-width: 1024px) {
            width: 300px;
        }
        @media (max-width: 768px) {
            width: 200px;
        }
    }
    &__container {
        max-width: 800px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 30px;
        @media (max-width: 1024px) {
            gap: 20px;
        }
        @media (max-width: 768px) {
            align-items: center;
        }
    }    
    &__title {
        font-size: 3rem;
        font-weight: 500;
        @media (max-width: 768px) {
            font-size: 2.3rem;
        }
    }
    &__subtitle {
        font-size: 2rem;
        font-weight: 500;
        color: $color-blue;
    }  
    &__text {
        font-family: Arial, Helvetica, sans-serif;
        padding-bottom: 10px;
        text-align: justify;
        @media (max-width: 768px) {
            text-align: center;
        }
    }
}
.skills {
    &__container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-items: center;
        gap: 30px;
        @media (max-width: 1024px) {
            grid-template-columns: repeat(2, 1fr);
        }
        @media (max-width: 600px) {
            grid-template-columns: 1fr;
        }
    }
    &__item {
        width: 90%;
        height: 250px;
        padding: 30px;
        @include flex();
        flex-direction: column;
        justify-content: space-between;
        background-color: $color-grey-l;
        border-radius: 10px;
        @media (max-width: 600px) {
            width: 80%;
        }
    }
    &__progress-bar {
        width: 80%;
        height: 15px;
        border: 2px solid $color-blue;
        border-radius: 5px;
    }
    &__progress {
        width: 0%;
        height: 100%;
        background-color: $color-blue;
        border: 2px solid white;
        border-radius: 5px;  
        transition: all 0.5s linear;
    }
    .progress_active {
        &.skills__css  {
            width: 80%;
        }
        &.skills__html {
            width: 90%;
        }
        &.skills__js, &.skills__git {
            width: 50%;
        }
        &.skills__figma, &.skills__sass {
            width: 70%;
        }
    }
    &__title {
        font-size: 1.5rem;
        font-weight: 400;
    }
}
.code {
    &__container {
        background-color: $color-grey-l;
        padding: 30px;
        @include flex();
        flex-direction: column;
        border-radius: 10px;
    }
    &__text {
        font-size: 1.3rem;
        padding-bottom: 30px;
        text-align: center;
        
    }
    pre {
        font-size: 1.2rem;
        color: $color-blue;
        span {
            display: none;
        }
        @media (max-width: 768px) {
            span {
                display: inline;
            }
        }
    }   
}
.education {
    &__container {
        display: flex;
        flex-direction: column;
        width: 90%;
        margin: 0 auto;
    }
    &__item {
        @include flex();
        justify-content: space-between;
        border-bottom: 2px solid $color-grey-xl;
        text-align: center;
        font-size: 1.3rem;
        &__first {
            border-top: 2px solid $color-grey-xl;  
        }
        &:hover {
            background-color: $color-grey-l;
            & .education__link {
                color: $color-blue;
            }
        }
        @media (max-width: 768px) {
            flex-direction: column;
            gap: 5px;
            padding: 10px 0;
        }
    }
    &__years {
        width: 180px;
    }
    &__direction {
        width: 280px;
    }
    &__link {
        width: 250px;
        padding: 20px 0;
        transition: all 0.2s linear;
        &:hover {
            transform: scale(108%);
        }
        @media (max-width: 768px) {
            padding: 0;
        }
    }    
}
.english {
    &__container {
        @include flex();
        justify-content: space-around;
        flex-wrap: wrap;
        gap: 30px;
    }
    &__text {
        font-size: 1.8rem;
        font-weight: 400;
        span {
            color: $color-blue;
            font-size: 2rem;
        }
    }
}